body {
    height: 100vh;
    display: flex;
    flex-direction: column;

}

#flexWrapper {
    display: flex;
    margin: auto;

}

.operatorButton {
    background-color: #11b8d1;
}

.numberButton {
    background-color: rgb(83, 229, 237);
}

#displayWrapper {
    background-color: rgb(201, 225, 246);
}